language: php

php:
  - 7.1

matrix:
  fast_finish: true

install:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-dist --no-interaction
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer global require "phpunit/phpunit=4.8.6"

script:
  - vendor/bin/phpunit
